<div *ngIf="screenMobile" class="component-header">
  <div id="logo">
    <img src="assets/svg/logo-amex.svg" class="amex-logo">
    <img src="assets/svg/fa-solid.svg" class="svg-sprite" style="display:none;" />
  </div>
  <div id="social-icons">
    <ul class="navbar-nav">
      <li class="nav-item facebook">
        <a class="nav-link" href="https://web.facebook.com/AmericanExpressME" target="_blank"> 
          <i class="fab fa-facebook-square fa-lg"></i>
        </a>
      </li>
      <li class="nav-item linkedin">
        <a class="nav-link" href="https://www.linkedin.com/company/americanexpressme" target="_blank">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </li>
    </ul>
  </div>
</div>