@import '~sass/styles';

#section-press-release{
    color:$dark-blue;
    font-size: 1rem;
    overflow: hidden;
}
#section-press-release .heading{
    margin-bottom: $heading-bottom-margin;
}
#section-press-release .heading h1{
    position: relative;
}
#section-press-release a.btn-primary{
    background: $dark-blue;
    border-color: $dark-blue;
    color: $white;
    font-size: 0.9rem;
}
#section-press-release .arabic{
    font-size:1.2rem;
}