@import '~sass/styles';

#section-press-release{
    color:$dark-blue;
    font-size: 1rem;
    overflow: hidden;
}
#section-press-release .heading{
    margin-bottom: $heading-bottom-margin;
}
#section-press-release .heading h1,
#section-press-release .buttons{
    position: relative;
}
#section-press-release h4{
    font-size: 1.3rem;
}
#section-press-release a.btn-primary{
    background: $dark-blue;
    border-color: $dark-blue;
    color: $white;
    font-size: 0.9rem;
}
#section-press-release .english-btn{
    font-size:1.1rem;
    text-align: left;
    direction: ltr;
}
#section-press-release .arabic-btn{
    font-size:1.1rem;
    text-align: right;
    direction: rtl;
}

@include media-breakpoint-down(sm){
    #section-press-release .buttons .btn{
        display:block;
        margin-bottom: 10px;
    }
}