@import  '~sass/variables';

html{
    overflow: hidden;
    width:100%;
}

body{
    background-color: $primary-color;
    color: $primary-text-color;
    font-family: $font-stack;
    font-size: 18px;
}
strong{
    font-family: $font-stack-bold;
}

/* ANIMATIONS */
.section{
    position: relative;
}
.section.fade{
    opacity: 0;
    transition: all 1s ease-out;
}
.section.fade-in{
    opacity: 1;
    top:0px;
}
.section:nth-child(odd){
    background-color: $dark-blue;
    color: $white;
}
.section:nth-child(even){
    background-color: $white;
    color: $dark-blue;
}

/* GENERAL STYLES */
.section .heading{
    text-align: center;
}
.container{
    padding:$section-inner-padding;
}
.container .col{
    margin-bottom: 1rem;
}
.arabic{
    direction: rtl;
    font-family: $font-arabic;
    text-align: right;
}

/* SLICK */
.slick-slide{
    padding:0rem 1rem;
}
.slick-arrow{
    display:block;
    width:30px;
    height:30px; 
    position:absolute;
    top:50%;
    margin-top: -15px;
    z-index: 1040;
    font-size: 2rem;
}
.slick-next{
    float: right;
    right: -60px;
}
.slick-prev{
    float: left;
    left: -60px;
}
.slick-prev:before, .slick-next:before{
    display:none;
}

@include media-breakpoint-down(sm){
    body{
        font-size: 16px;
    }
    h1{
        font-size: 1.7em;
    }
    h3{
        font-size: 1.3em;
    }
    .container{
        padding:$section-inner-padding-sm;
    }
    .slick-arrow{
        width:20px;
        height:20px; 
        font-size: 1.5rem;
    }
    .slick-next{
        right: -50px;
    }
    .slick-prev{
        left: -50px;
    }
}

@include media-breakpoint-down(xs) {
    body{
        font-size: 16px;
    }
    .container{
        padding:$section-inner-padding-xs;
    }
    h1{
        font-size: 1.7em;
    }
    h3{
        font-size: 1.3em;
    }

    .slick-next{
        right: -25px;
    }
    .slick-prev{
        left: -25px;
    }
}