<div id="section-presentation" class="container">
  <div class="heading-container">
    <div class="heading">
      <h1>Key Findings</h1>
    </div>
  </div>
  <div id="findings-content">
    <div class="col findings-slide">
      <div class="inner-slide">
        Slide 1
      </div>
    </div>
    <div class="col findings-slide">
      <div class="inner-slide">
        Slide 2
      </div>
    </div>
    <div class="col findings-slide">
      <div class="inner-slide">
        Slide 3
      </div>
    </div>
    <div class="col findings-slide">
      <div class="inner-slide">
        Slide 4
      </div>
    </div>  
  </div>
</div>