@import  '~sass/variables';

#section-presentation .heading h1{
    position: relative;
}
#section-presentation .heading-container{
    margin-bottom:$heading-bottom-margin;
}

#section-presentation .findings-slide{
    width: 100%;
    text-align: center;
}
#section-presentation .inner-slide{
    width: 100%;
    text-align: center;
}
#section-presentation .inner-slide img{
    max-width: 75%;
    margin: 0 auto;
}

@include media-breakpoint-down(xs){
    #section-presentation .inner-slide img{
        max-width: 100%;
        margin: 0 auto;
    }
}