<div id="header-container">
  <app-header></app-header>
</div>
<div id="section-presentation" class="container">
  <div class="heading-container">
    <div class="heading">
      <h1>Key Findings</h1>
    </div>
  </div>
  <div id="findings-content">
    <div *ngFor="let slide of slides" class="col findings-slide">
      <div class="inner-slide">
        <img src="{{ slide }}">
      </div>
    </div> 
  </div>
  <div id="download-presentation" class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-primary" href="assets/pdf/Amex_CFO_study_Presentation_for_Media_PDF.pdf" target="_blank" download="Amex_CFO_study_Presentation_for_Media_PDF.pdf">
        Download Presentation &nbsp; <i class="fas fa-download"></i>
      </a>
    </div>
  </div>
</div>