<div id="header-container">
  <app-header></app-header>
</div>
<div id="section-overview" class="container slick-init">
  <div class="heading-container">
    <div class="heading">
      <h1>Overview</h1>
      <h4>The 2018 Global Business &amp; Spending Outlook</h4>
      <hr class="line">
    </div>
  </div>
  <div id="overview-content">
    <div>
      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <div class="image-container">
            <div class="overview-image text-center">
              <img src="assets/jpg/overview.jpg">
              <svg>
                <defs>
                  <clipPath id="circle">
                      <path id="inner-circle" class="a" d="M300,150A150,150,0,1,1,256.07,43.93,149.57,149.57,0,0,1,300,150Z" transform="translate(0)"/>
                  </clipPath>
                </defs>
                <circle id='circle-stroke' cx='127.5' cy='127.5' r='125' stroke-dasharray='1000' stroke-dashoffset='1000'/>
              </svg>
            </div>
            
          </div>
        </div>
        <div class="col-sm-12 col-lg-8">
          <p>The 2018 Global Business &amp; Spending Outlook details Middle East’s executives’ views on the economic outlook, spending plans, and the future of technology. </p>
          <p>The cross-industry findings in the joint American Express and Institutional Investor¹ study are based on a survey of 870 CFOs and other senior finance executives at companies with annual revenue of $500 million or more from more than 21 countries worldwide. And for the first time in its 11-year history, the study includes respondents from the Middle East region –– adding to its holistic view of a dynamic global services economy.</p>
        </div>
      </div>
    </div>
    <div>
      <ul>
        <li>Senior finance executives report great confidence in the economic growth prospects in 2018</li>
        <li>Region's optimistic climate is expected to boost business spending and investment levels thus shifting businesses in to growth mode</li>
        <li>In 2018, the top priority for Middle East finance executives is better meeting customers’ evolving needs</li>
        <li>This year, the focus is on new product development and mobile technology</li>
        <li>Employments levels are anticipated to rise. More freelancers, part-timers and temps are expected to join Middle East’s growing work force</li>
        <li>Visionary finance executives are taking great interest in next-generation technologies with investments in Robotics &amp; Automation and AI</li>
      </ul>
    </div>  
  </div>
</div>

