@import  '~sass/variables';

#section-overview{
    color:$dark-blue;
}

#section-overview .heading-container{
    position: relative;
    top: 0;
}
#section-overview .heading{
    margin-bottom: $heading-bottom-margin;
    width: 100%;
}
.heading .line{
    border:none;
    border-bottom:3px solid $dark-blue
}

.image-container{
    width: 310px;
    height: 310px;
    margin-right: 3rem;
    position: relative;
}
.overview-image{
    width: 255px;
    height: 255px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-left: 2.5px;
    margin-top: 2.5px;
    margin: 2.5px auto;
}
.overview-image img{
    height: 100%;
    position: absolute;
    right: 0;
}
#section-overview .slick-arrow{
    color: $dark-blue;
}

#section-overview h1, #section-overview h4, #section-overview .overview-image, #section-overview #overview-content{
    position: relative;
}

svg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
svg #circle-stroke{
    fill: none;
    stroke:$dark-blue;
    stroke-width: 5;
    position: absolute;
    z-index: 500;
    top:0;
    left: 0;
}