@import '~sass/styles';

#logo{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2500;
    padding: 20px;
    z-index: 900;
}

#logo .amex-logo{
    width: 80px;
}

#social-icons{
    position: fixed;
    right: 50px;
    top: 0;
    z-index: 1031;
}
#social-icons .navbar-nav{
    flex-direction: row;
}
#social-icons .nav-item{
    padding: .75rem 1rem;
}
#social-icons .nav-link{
    padding: 0;
}
#social-icons .facebook .nav-link{
    color: $white;
}
#social-icons .linkedin .nav-link{
    color: $white;
}

#video-fallback{
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    background: url('/assets/jpg/introduction.jpg');
    background-size: cover;
}
#video-bg{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -15%;
    min-width: 100%; 
    min-height: 100%;
}
#video-bg #home-video{
    position: relative;
}
.hidden{
    display:none;
}

@include media-breakpoint-down(xs){
    #logo .amex-logo{
        width: 60px;
    }
    #social-icons{
        right: 0px;
    }
}