@import '~sass/styles';

#logo{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2500;
    padding: 20px;
}

#logo .amex-logo{
    width: 80px;
}

#video-fallback{
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    background: url('../assets/jpg/introduction.jpg');
    background-size: cover;
}
#video-bg{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -15%;
    min-width: 100%; 
    min-height: 100%;
}
#video-bg #home-video{
    position: relative;
}

@include media-breakpoint-down(xs){
    #logo .amex-logo{
        width: 60px;
    }
}