@import '~sass/styles';

/* DESKTOP NAV */

#main-nav.cfo-fixed{
    width: 50px;
    right: 0;
    left: auto;
    height: 100%;
    padding: 0;
}

#main-nav .icon{
    width: 24px;
    height: 24px;
}
#main-nav .icon use{
    fill: $light-blue;
}

#main-nav.cfo-fixed .nav-item{
    background-color: rgba($dark-blue,.8);
    width: 50px;
    height: 50px;
}

#main-nav.cfo-fixed .nav-item a{
    color:$light-blue;
}

#main-nav.cfo-fixed .nav-item.active a,
#main-nav.cfo-fixed .nav-item.active use{
    color:$white;
    fill:$white;
}

#main-nav.navbar-expand-lg .navbar-nav{
    flex-direction: column;
}

.popover{
    background-color: rgba($dark-blue,.63);
    color: $white;
    font-family: BentonSansLight;
}
.popover-body{
    color:$white;
}
.bs-popover-auto[x-placement^=left] .arrow::after, .bs-popover-left .arrow::after{
    border-left-color:  rgba($dark-blue,.43);
}
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after{
    border-top-color:  rgba($dark-blue,.43);
}

/* MOBILE NAV */

#mobile-nav #check { display: none; }

#mobile-nav #nav-container{
    width:100px;
    height: 100px;
    background-color: rgba($dark-blue,.9);
    position: fixed;
    bottom: 0;
    right: 50%;
    border-radius: 50%;
    margin-right: -50px;
    margin-bottom: -60px;
    color: $white;
    z-index: 9997;
}
#mobile-nav #nav-container #corner{
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 9998;
}
#mobile-nav #nav-container button{
    border:none;
    outline: none;
    position: relative;
    width: 100%;
    height: 50px;
    margin: -5px auto 0px;
    z-index: 9999;
}
#mobile-nav #nav-container button #menu-toggle,
#mobile-nav #nav-container button #menu-toggle-close{
    color: $white;
}
#mobile-nav #nav-container button #menu-toggle-close{
    margin: 0px auto -100px;
    display: none;
}
#mobile-nav #navbar-items{
    position: fixed;
    bottom:0;
    right: 0;
    width:250px;
    height: 250px;
    border-radius: 50%;
    transform-origin: 50%;
    margin-right: -125px;
    margin-bottom: -125px;
    background-color: rgba($dark-blue,.8);
}
#mobile-nav #navbar-items .nav-item{
    position: absolute;
}
#mobile-nav #navbar-items .nav-item a{
    color: $white;
}

body.stop-scrolling{
    height: 100%;
    overflow: hidden;
}

#nav-name{
    display:none;
    opacity: 0;
    text-align: center;
    position: fixed;
    bottom: 100%;
    width: 100%;
    left: 0;
    font-size: 0.8rem;
}
#nav-name .title{
    padding:.5rem 1rem;
    background-color: rgba($dark-blue, 0.8);
    border-radius: .2rem;
    display: inline-block;
    width: auto;
}
#nav-name .arrow{
    bottom: calc((.5rem + 1px) * -1);
    position: absolute;
    display: inline-block;
    width: 1rem;
    height: .5rem;
    left:50%;
    margin-left: -.5rem;
}
#nav-name .arrow:before{
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
    box-sizing: border-box;
    border-width: .5rem .5rem 0;
    bottom: 0;
    border-top-color: rgba($dark-blue, .25);
}
#nav-name .arrow:after{
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
    box-sizing: border-box;
    border-width: .5rem .5rem 0;
    bottom: 1px;
    border-top-color: rgba($dark-blue, .8);
}
#circularmenu{
    position: fixed;
    bottom: 100%;
    left:50%;
    transform-origin: center center;
    //-webkit-clip-path: circle(25% at 50% 50%);
    //clip-path: circle(25% at 50% 50%);
}
#circularmenu > svg { width: 100%; height: 100%; }
#circularmenu { height: 400px; width: 400px; margin:auto; display: none; }
#circularmenu .nav-item{
    display: none;
}
#circularmenu a{
    cursor: pointer;
    outline: none;
    overflow: visible;
    position: relative;
}
#circularmenu use{
    color:$white;
}
#circularmenu use > svg{
    transform-origin: center;
    transform: rotateZ(-45deg); 
}
#svg-menu{
    display: block;
    margin: 0 auto;
    overflow: visible;
}
#circularmenu-rotate{
    position: fixed;
    left:0;
    bottom: 0;
    width:100%;
    height:50%;
    background:transparent;
    display: block;
    visibility: hidden;
}

@media (max-width: 576px) { #circularmenu { display:block; height: 270px; width: 270px; } }



/*@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
small: 576, medium: 768, large: 992, extra large:1200*/

@include media-breakpoint-up(md){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: .5rem;
        text-align: center;
    }
}

@include media-breakpoint-up(sm){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: .5rem;
        text-align: center;
    }
}

@include media-breakpoint-down(xs){
    #main-nav.cfo-fixed{
        width: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        top: auto;
        height: 50px;
        padding: 0;
    }
    #main-nav.navbar-expand-lg .navbar-nav{
        flex-direction: row;
        width: 100%;
    }
    #main-nav #navbarSupportedContent{
        width: 100%;
    }
    #main-nav.cfo-fixed .nav-item{
        width: 16.666667%;
        height: 50px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: .8rem 1.2rem;
    }
}