@import '~sass/styles';

/* DESKTOP NAV */

#main-nav.cfo-fixed{
    width: 50px;
    right: 0;
    left: auto;
    height: 100%;
    padding: 0;
}

#main-nav .icon{
    width: 24px;
    height: 24px;
}
#main-nav .icon use{
    fill: $light-blue;
}

#main-nav.cfo-fixed .nav-item{
    background-color: rgba($dark-blue,.8);
    width: 50px;
    height: 50px;
}

#main-nav.cfo-fixed .nav-item a{
    color:$light-blue;
}

#main-nav.cfo-fixed .nav-item.active a,
#main-nav.cfo-fixed .nav-item.active use{
    color:$white;
    fill:$white;
}

#main-nav.navbar-expand-lg .navbar-nav{
    flex-direction: column;
}

.popover{
    background-color: rgba($dark-blue,.63);
    color: $white;
    font-family: BentonSansLight;
}
.popover-body{
    color:$white;
}
.bs-popover-auto[x-placement^=left] .arrow::after, .bs-popover-left .arrow::after{
    border-left-color:  rgba($dark-blue,.43);
}
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after{
    border-top-color:  rgba($dark-blue,.43);
}

/* MOBILE NAV */

#mobile-nav #check { display: none; }

#mobile-nav #nav-container{
    width:150px;
    height: 150px;
    background-color: rgba($light-blue,.5);
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    margin-right: -75px;
    margin-bottom: -75px;
    color: $white;
    z-index: 1050;
}
#mobile-nav #nav-container button{
    border:none;
    outline: none;
    width: 75px;
    height: 75px;
    margin: 7px 10px;
}
#mobile-nav #nav-container button #menu-toggle{
    color: $white;
}
#mobile-nav #navbar-items{
    position: fixed;
    bottom:0;
    right: 0;
    width:250px;
    height: 250px;
    border-radius: 50%;
    transform-origin: 50%;
    margin-right: -125px;
    margin-bottom: -125px;
    background-color: rgba($dark-blue,.8);
}
#mobile-nav #navbar-items .nav-item{
    position: absolute;
}
#mobile-nav #navbar-items .nav-item a{
    color: $white;
}

#piemenu > svg { width: 100%; height: 100%; }
#piemenu { height: 400px; width: 400px; margin:auto; }
@media (max-width: 400px) { #piemenu { height: 300px; width: 300px; } }

#circularmenu > svg { width: 100%; height: 100%; }
#circularmenu { height: 400px; width: 400px; margin:auto; }
#circularmenu .nav-item{
    display: none;
}
#circularmenu svg.icon{
    width: 50px !important;
    height: 50px !important;
    position: relative;
}
#circularmenu a{
    cursor: pointer;
    outline: none;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
}
#svg-menu{
    display: block;
    margin: 0 auto;
    overflow: visible;
}
@media (max-width: 400px) { #circularmenu { height: 300px; width: 300px; } }

[class|=wheelnav-piemenu-slice-basic] { fill: #497F4C; stroke: none; }
[class|=wheelnav-piemenu-slice-selected] { fill: #497F4C; stroke: none; }
[class|=wheelnav-piemenu-slice-hover] { fill: #497F4C;  stroke: none; fill-opacity: 0.77; cursor: pointer; }

[class|=wheelnav-piemenu-title-basic] { fill: #333; stroke: none; }
[class|=wheelnav-piemenu-title-selected] { fill: #fff; stroke: none; }
[class|=wheelnav-piemenu-title-hover] { fill: #222; stroke: none; cursor: pointer; }


/*@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
small: 576, medium: 768, large: 992, extra large:1200*/

@include media-breakpoint-up(md){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: .5rem;
        text-align: center;
    }
}

@include media-breakpoint-up(sm){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: .5rem;
        text-align: center;
    }
}

@include media-breakpoint-down(xs){
    #main-nav.cfo-fixed{
        width: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        top: auto;
        height: 50px;
        padding: 0;
    }
    #main-nav.navbar-expand-lg .navbar-nav{
        flex-direction: row;
        width: 100%;
    }
    #main-nav #navbarSupportedContent{
        width: 100%;
    }
    #main-nav.cfo-fixed .nav-item{
        width: 16.666667%;
        height: 50px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: .8rem 1.2rem;
    }
}