@import  '~sass/variables';

#section-insights .heading{
    margin-bottom: $heading-bottom-margin;
}
#section-insights .heading-container h1{
    position: relative;
}
#insights-content{
    margin-bottom: $heading-bottom-margin;
}
.insight{
    text-align:center;
}
.insight-image{
    max-width: 100%;
    //min-height: 250px;
    background: #8b8d8e;
}
.insight-image img{
    width: 100%;
}
.insight-title{
    background: $light-blue;
    color: $white;
    padding: 1rem;
}
.insight-title .btn-primary{
    background-color:transparent;
    outline: none;
    border-color: rgba($white, 0.5);
}
#section-insights .slick-arrow{
    color: $white;
}

@include media-breakpoint-only(md){
    .insight-title .btn-primary{
        margin-bottom: 10px;
    }
}

@include media-breakpoint-down(xs){
    .insight-title .btn-primary{
        font-size: 0.9rem;
    }
}
