<div id="section-insights" class="container slick-init">
  <div class="heading-container">
    <div class="heading">
      <h1>Insights</h1>
    </div>
  </div>
  <div id="insights-content">
    <div class="col insight">
      <div class="insight-image"></div>
      <div class="insight-title">
        Infographic 1
      </div>
    </div>
    <div class="col insight">
      <div class="insight-image"></div>
      <div class="insight-title">
          Infographic 2
      </div>
    </div>
    <div class="col insight">
      <div class="insight-image"></div>
      <div class="insight-title">
        Infographic 3
      </div>
    </div>
    <div class="col insight">
      <div class="insight-image"></div>
      <div class="insight-title">
        Infographic 4
      </div>
    </div>  
  </div>
</div>