@import '~sass/styles';

#section-home{
    visibility: hidden;
    position: relative;
}

/*.section-body{
    background-color: $dark-blue;
}*/

.section-body{
    max-width: 50%;
}

#section-home .line{
    border:none;
    border-bottom:3px solid $light-blue
}

#section-home h1, #section-home hr, #section-home h3, #section-home p{
    position: relative;
}

#scroll-initiator{
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    animation-name: scroll-initiate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-name: scroll-initiate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@keyframes scroll-initiate {
    from {bottom: 60px;}
    to {bottom: 50px;}
}
@-webkit-keyframes scroll-initiate {
    from {bottom: 60px;}
    to {bottom: 50px;}
}

@include media-breakpoint-down(xs){
    .section-body{
        max-width: 100%;
    }
    #scroll-initiator{
        text-align: right;
        bottom: 0px;
        padding: 0rem 1rem;
        animation-name: scroll-initiate-m;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        -webkit-animation-name: scroll-initiate-m;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
    }
    @keyframes scroll-initiate-m {
        from {bottom: 30px;}
        to {bottom: 20px;}
    }
    @-webkit-keyframes scroll-initiate-m {
        from {bottom: 30px;}
        to {bottom: 20px;}
    }
}